#u2100-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2091-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2120-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2107-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2128-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2111-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2080-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2085-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u812-5,#u812-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1070-12,#u812-2,#u812-3,#u812-8,#u812-10,#u812-11,#u812-13,#u812-15,#u812-16,#u812-18,#u812-20,#u812-21,#u812-23,#u812-25,#u812-26,#u812-28,#u812-30,#u812-31
{
	font-family: source-sans-pro-n3, sans-serif;
}

