#u2100-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2091-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2120-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2107-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2128-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2111-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2080-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2085-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u807-5,#u807-6,#u807-33,#u807-34,#u807-89,#u807-90,#u807-162,#u807-164,#u807-165
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1069-12,#u807-2,#u807-3,#u807-8,#u807-10,#u807-11,#u807-13,#u807-15,#u807-16,#u807-18,#u807-20,#u807-21,#u807-23,#u807-25,#u807-26,#u807-28,#u807-30,#u807-31,#u807-36,#u807-38,#u807-39,#u807-42,#u807-44,#u807-45,#u807-48,#u807-50,#u807-51,#u807-54,#u807-56,#u807-57,#u807-60,#u807-62,#u807-63,#u807-66,#u807-68,#u807-69,#u807-72,#u807-74,#u807-75,#u807-78,#u807-80,#u807-81,#u807-84,#u807-86,#u807-87,#u807-93,#u807-95,#u807-96,#u807-99,#u807-101,#u807-102,#u807-105,#u807-107,#u807-108,#u807-111,#u807-113,#u807-114,#u807-117,#u807-119,#u807-120,#u807-123,#u807-125,#u807-126,#u807-129,#u807-131,#u807-132,#u807-135,#u807-137,#u807-138,#u807-141,#u807-143,#u807-144,#u807-147,#u807-149,#u807-150,#u807-153,#u807-155,#u807-156,#u807-159,#u807-161,#u807-168,#u807-170,#u807-171,#u807-174,#u807-176,#u807-177,#u807-180,#u807-182,#u807-183,#u807-186,#u807-188,#u807-189,#u807-192,#u807-194,#u807-195,#u807-198,#u807-200,#u807-201,#u807-204,#u807-206,#u807-207,#u807-210,#u807-212,#u807-213,#u807-216,#u807-218
{
	font-family: source-sans-pro-n3, sans-serif;
}

