#u2100-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2091-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2120-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2107-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2128-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2111-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2080-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2085-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1065-2,#u1067-2,#u1067-14,#u1067-26
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1066-14,#u1067-30,#u1067-35,#u1067-40
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1065-4,#u1067-4,#u1067-6,#u1067-8,#u1067-10,#u1067-11,#u1067-12,#u1067-16,#u1067-18,#u1067-20,#u1067-22,#u1067-23,#u1067-24,#u1067-28,#u1067-31,#u1067-33,#u1067-36,#u1067-38,#u1067-41
{
	font-family: source-sans-pro-n4, sans-serif;
}

