#u2100-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2091-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2120-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2107-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2128-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2111-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2080-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2085-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1081-2
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1963-15,#u1081-5,#u1081-6,#u1081-8,#u1081-9,#u1081-11,#u1081-12,#u1081-14
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1081-3,#u1081-15
{
	font-family: source-sans-pro-n4, sans-serif;
}

