#u743-3
{
	border-style: solid;
	border-color: #BDBC99;
	background-color: #000000;
	font-size: 12px;
	line-height: 14px;
	position: fixed;
	border-width: 0px 0px 1px;
}

#u1619
{
	background-color: transparent;
	position: fixed;
}

#menuu2073
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u2095,#u2098
{
	background-color: transparent;
	position: relative;
}

#u2100-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2098:hover #u2100-4 p
{
	text-decoration: underline;
}

#u2088,#u2089
{
	background-color: transparent;
	position: relative;
}

#u2091-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2089:hover #u2091-4 p
{
	text-decoration: underline;
}

#u2116,#u2119
{
	background-color: transparent;
	position: relative;
}

#u2120-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2119:hover #u2120-4 p
{
	text-decoration: underline;
}

#u2102,#u2105
{
	background-color: transparent;
	position: relative;
}

#u2107-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2105:hover #u2107-4 p
{
	text-decoration: underline;
}

#u2123,#u2126
{
	background-color: transparent;
	position: relative;
}

#u2128-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2126:hover #u2128-4 p
{
	text-decoration: underline;
}

#u2109,#u2110
{
	background-color: transparent;
	position: relative;
}

#u2111-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2110:hover #u2111-4 p
{
	text-decoration: underline;
}

#u2074,#u2077
{
	background-color: transparent;
	position: relative;
}

#u2080-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2077:hover #u2080-4 p
{
	text-decoration: underline;
}

#u2081,#u2084
{
	background-color: transparent;
	position: relative;
}

#u2085-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: right;
	color: #BDBC99;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2084:hover #u2085-4 p
{
	text-decoration: underline;
}

#u2098.MuseMenuActive #u2100-4 p,#u2089.MuseMenuActive #u2091-4 p,#u2119.MuseMenuActive #u2120-4 p,#u2105.MuseMenuActive #u2107-4 p,#u2126.MuseMenuActive #u2128-4 p,#u2110.MuseMenuActive #u2111-4 p,#u2077.MuseMenuActive #u2080-4 p,#u2084.MuseMenuActive #u2085-4 p
{
	color: #BDBC99;
	visibility: inherit;
	text-align: left;
	text-decoration: none;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

