#u1800.MuseMenuActive #u1803-4 p,#u1803-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1805.MuseMenuActive #u1806-4 p,#u1806-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1828.MuseMenuActive #u1829-4 p,#u1829-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1819.MuseMenuActive #u1821-4 p,#u1821-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1812.MuseMenuActive #u1813-4 p,#u1813-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1833.MuseMenuActive #u1834-4 p,#u1834-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1845-8
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1533-2,#u1534-2,#u1534-14,#u1534-26
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1534-30,#u1534-35,#u1534-40
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1843-14,#u1533-4,#u1534-4,#u1534-6,#u1534-8,#u1534-10,#u1534-11,#u1534-12,#u1534-16,#u1534-18,#u1534-20,#u1534-22,#u1534-23,#u1534-24,#u1534-28,#u1534-31,#u1534-33,#u1534-36,#u1534-38,#u1534-41
{
	font-family: source-sans-pro-n4, sans-serif;
}

