#u1800.MuseMenuActive #u1803-4 p,#u1803-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1805.MuseMenuActive #u1806-4 p,#u1806-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1828.MuseMenuActive #u1829-4 p,#u1829-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1819.MuseMenuActive #u1821-4 p,#u1821-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1812.MuseMenuActive #u1813-4 p,#u1813-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1833.MuseMenuActive #u1834-4 p,#u1834-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1845-8
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1842-14,#u1525-5,#u1525-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1525-2,#u1525-3,#u1525-8,#u1525-10,#u1525-12,#u1525-13,#u1525-15,#u1525-17,#u1525-19,#u1525-20,#u1525-22,#u1525-24,#u1525-26,#u1525-27,#u1525-29,#u1525-31,#u1525-32,#u1525-34,#u1525-36,#u1525-38,#u1525-39
{
	font-family: source-sans-pro-n3, sans-serif;
}

